html{
  height: 100%;
}

h1 {
  margin-top: 20;
  color: whitesmoke;
  float: left;
}

h2 {
  color: black;
}

#head {
  height: 85px;
  background: #0099ff;
  position: relative;
  border-radius: 5px;
}

div.title {
  position: absolute;
  height: 90%;
  top: 5%;
  left:.5%;
}
img{
  border-radius: 50%;
}
div.nav{
  position: absolute;
	height: 100%;
	right: .5%;
}

ul.nav {
  list-style-type: none;
  display: inline-block;
}

li {
  padding-left: 4px;
  top: 0;
  bottom: 0;
  margin-left: 10;
  font-size: 250%;
  float: left;
}

.button {
  background-color: #0099ff; /* Cyan */
  border:none;
  border-bottom:2px solid #33334d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: whitesmoke;
  transition-duration: 1.5s;
  text-decoration: none;
}

#current {
  border: 2px solid #9a9a9a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: whitesmoke;
  color: #00134d;
}

.button:hover {
  background-color: whitesmoke;
  color: #00134d;
}

p {
  font-size: 120%;
}

#temp {
  font-size: 200%;
}

#copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #00134d;
  vertical-align: bottom;

}
