html{
	height: 100%;
	background: #272b27;
}

p{
	color:white;
	font-size: 120%;
}

#head {
	height: 85px;
	background: #0099ff;
	position: relative;
	border-radius: 5px;
}

div#nav {
	background: #0099ff;
	position:fixed;
	left:0; top:0; bottom: 0;
	width: 15%;
}

div#title {
	position: relative;
	width: 100%;
	display: inline-block;
}

div#title h3{
	position: absolute;
	width: 100%;
	color: whitesmoke;
	margin: 0;
	padding: 0;
	width: 100%;
	bottom: 0;
}

div.name{
	position: absolute;
	bottom: 0;
	left: 0;
}

img.selfie{
	position: relative;
	width: 100%;
	height: auto;
	display: block;
}

div#nav ul {
	list-style-type: none;
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 0;
	transform: translateY(-50%);
	overflow: auto;
}

div#nav li a {
	display: block;
	background-color: #0099ff; /* Cyan */
	text-align: center;
	color: whitesmoke;
	transition-duration: 1.5s;
	text-decoration: none;
	font-size: 150%;
	cursor: pointer;
}

div#nav li a.button{
	border-bottom:2px solid #33334d;
}

div#nav #current {
	background-color: whitesmoke;
	color: #00134d;
	border-bottom: none;
}

div#nav li a:hover:not(#current) {
	background-color: whitesmoke;
	color: #00134d;
}

a{
	color: aqua;
}
a:hover{
	background-color: aqua;
	color: #272b27;
}
a:visited{
	color: #009999;
}

/*Main content*/
/*this will be the container for each individual section*/
div.section{
	position: relative;
	background: #272b27;
	border-color: #10d33b;
	border-width: thick;
	border-style: dashed;
	margin-top: 1%;
	margin-left: 15%;
	width: 85%;
	color:whitesmoke;
}

/*About Me*/
div#bio{
}
div#bio p{
	padding:0;
	margin:0;
	width:100%;
	text-align: center;
}
div#about .divider{
	position: relative;
	width: 2%;
	left: 49%;
	text-align: center;
}

div#about .left{
	position: absolute;
	width:48%;
	left:0;
	text-align: right;
}

div#about .right{
	position: absolute;
	width:48%;
	right:0;
	text-align: left;
}

/*End of About*/

/*Skills section*/
div#skills{
	min-height: 150px;
}
div#skills #left{
	margin: 0,0;
	width: 33%;
	text-align: center;
	font-size: 120%;
	color: whitesmoke;
}

div#skills .skill{
	border: 2px solid #9a9a9a;
  border-radius: 5px;
  background-color: whitesmoke;
  color: #00134d;
	display: inline-block;
	margin-bottom: 5px;
}

div#skills #center{
	position: absolute;
	width: 33%;
	left: 33%;
	top: 0;
	bottom:0;
	border-color: #10d33b;
	border-width: thick;
	border-right-style: dashed;
	border-left-style: dashed;
	text-align: center;
	font-size: 120%;
	color: whitesmoke;
}

div#skills #right {
	position: absolute;
	width: 33%;
	right:0;
	top: 1%;
	bottom: 1%;
}

div#skills .operatingSystem {
	display: inline-block;
}

div#skills .operatingSystem p{
	width: 100%;
	text-align: center;
}

div#skills .operatingSystem img{
	margin: auto;
	display: block;
}
/*End of Skills Section*/

/*Projecs Section*/
div#projects{
	font-size: 120%;
}
div#projects h3{
	text-align: center;
	padding:0;
	margin:0;
}
div.project a:hover{
	background-color: #272b27;
	color: whitesmoke;
}
div.project a:visited{
	color: whitesmoke;
}
div.project{
	width: 48%;
	display:inline-block;
}
div.project a{
	color: whitesmoke;
	text-decoration: none;
	display: block;
	text-align: center;
}

/*End of Projects Section*/

/*Contacts Section*/

div#contacts p#title{
	padding:0;
	margin: 0;
	width:100%;
	text-align: center;
}
div#contacts a,div#contacts p{
	padding-left: 1%;
	margin: 0;
}
div#contacts form{
	display: inline-block;
	text-align: center;
	padding-left: 1%;
}
div#contacts table{
	color: whitesmoke;
	text-align: right;
}
div#contacts textarea{
	width: 100%;
}
/*End of Contacts Secton*/

/*Professional Experience*/
div#work {
	text-align: center;
	font-size: 120%;
}

div.job{
	text-align: left;
	padding-left:1%;
}
div.job:not(#last){
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: #10d33b;
}

div.job h4,div.job h5,div.job ul li{
	color: whitesmoke;
	margin: 0;
	padding:0;
}

div.job ul{
	margin-top: 0;
}
/*End of Professional Experience*/
