html{
	height: 100%;
	background: #272b27;
}

p{
	color:white;
	font-size: 120%;
}

h2{
	color: whitesmoke;
	margin: 0
}

#head {
	height: 85px;
	background: #0099ff;
	position: relative;
	border-radius: 5px;
}

#nav{
	background: #0099ff;
	position:fixed;
	left:0; top:0; bottom: 0;
	width: 15%;
}

div.name{
	position: absolute;
	bottom: 0;
	left: 0;
}

div.title {
	position: relative;
	width: 100%;
}

img.selfie{
	position: relative;
	width: 100%;
	height: auto;
	display: block;
}

ul.nav {
	list-style-type: none;
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 0;
	transform: translateY(-50%);
	overflow: auto;
}

li a {
	display: block;
	background-color: #0099ff; /* Cyan */
	text-align: center;
	color: whitesmoke;
	transition-duration: 1.5s;
	text-decoration: none;
	font-size: 150%;
	cursor: pointer;
}

li a.button{
	border-bottom:2px solid #33334d;
}

#current {
	background-color: whitesmoke;
	color: #00134d;
	border-bottom: none;
}

li a:hover:not(#current) {
	background-color: whitesmoke;
	color: #00134d;
}

#temp {
	font-size: 200%;
}

/*Main content*/
/*this will be the container for each individual section*/
div.section{
	position: relative;
	background: #272b27;
	border-color: #10d33b;
	border-width: thick;
	border-style: dashed;
	margin-top: 1%;
	margin-left: 15%;
	width: 85%;
}

/*First section with (Contact)*/
div#contacts .divider{
	position: relative;
	width: 2%;
	left: 49%;
	text-align: center;
}

div#contacts .left{
	position: absolute;
	width:48%;
	left:0;
	text-align: right;
}

div#contacts .right{
	position: absolute;
	width:48%;
	right:0;
	text-align: left;
}

a{
	color: aqua;
}
a:hover{
	background-color: aqua;
	color: #272b27;
}
a:visited{
	color: #009999;
}

/*End of first section*/

/*Skills section*/
div#skills{
	min-height: 150px;
}
div#skills #left{
	margin: 0,0;
	width: 33%;
	text-align: center;
	font-size: 120%;
	color: whitesmoke;
}

div#skills .skill {
	border: 2px solid #9a9a9a;
  border-radius: 5px;
  background-color: whitesmoke;
  color: #00134d;
	display: inline-block;
	margin-bottom: 5px;
}

div#skills #center{
	position: absolute;
	width: 33%;
	left: 33%;
	top: 0;
	bottom:0;
	border-color: #10d33b;
	border-width: thick;
	border-right-style: dashed;
	border-left-style: dashed;
	text-align: center;
	font-size: 120%;
	color: whitesmoke;
}

div#skills #right {
	position: absolute;
	width: 33%;
	right:0;
	top: 1%;
	bottom: 1%;
}

div#skills .operatingSystem {
	display: inline-block;
}

div#skills .operatingSystem p{
	width: 100%;
	text-align: center;
}

div#skills .operatingSystem img{
	margin: auto;
	display: block;
}

/*End of Skills Section*/
