html{
  height: 100%;
}
body {
    background: Silver; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00134d, White); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00134d, White); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(to bottom, #00134d, White); /* Standard syntax */
}

.button {
    background-color: whitesmoke;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #00134d;
    transition-duration: 0.5s;  
}

.button:hover {
  background-color: #0033cc; /* Green */
  color: whitesmoke;
}

h1 {
  font-size: 300%;

}

div {
  background-color: lightgray;
  width: 75%;
  height: 99%;
}

img {
  max-width: 100%;
  height: auto;
  float:left;  
  margin-left: 20;
}

p {
  margin-right: 20;
}